:host {
  display: block;
  position: relative;
}

.welcome-panel {
  text-align: center;

  .ripple {
    border-radius: var(--app-panel-border-radius);
  }
}

.title {
  margin-bottom: 8px;
}

.sub-title {
  color: var(--app-grey-1);
  font-size: 14px;
}

.icon {
  margin-top: 16px;
  margin-bottom: 8px;
}