:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--app-colour-primary);
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 3px 8px rgba(61, 59, 238, 0.46);
  color: #FFFFFF;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}