:host {
  background: var(--app-content-bg);
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.background {
  position: absolute;
  bottom: 0px;
  min-width: 200%;
  min-height: 40%;
  opacity: .2;
  max-width: unset;
  margin: 0 -50%;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.padding {
  padding: 0 24px 24px;
}
